{% set title = 'Démo 10' %}
<h1>{{ title }}</h1>

<p>Lorem Elsass ipsum flammekueche Salu bissame yeuh. consectetur Miss Dahlias lacus tchao bissame <strong>{{ title }}</strong> adipiscing turpis elit DNA, salu bredele Racing. quam, Oberschaeffolsheim hopla </p>

<p> ornare senectus sit varius placerat dignissim réchime purus vielmols, schnaps <strong>{{ title }}</Strong> geïz Huguette dui amet, eleifend kartoffelsalad s'guelt sit libero. schneck tellus kougelhopf risus, tellus sit Spätzle sagittis vulputate lotto-owe auctor, nüdle picon bière</p>