<header>
  <nav>
    <a href="{{ url('student_index') }}">Etudiants</a>
    <a href="{{ url('student_form') }}">Ajouter un étudiant</a>
    <a href="{{ url('team_index') }}">Equipes</a>
  <nav>
</header>